{% load static %}

<header class="header-v2 rtl">
    <!-- Header desktop -->
    <div class="container-menu-desktop trans-03">
        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop">

                <!-- Logo desktop -->
                <a href="{% url 'Root:Home' %}" class="logo p-l-45">
                    <img src="{% static 'images/icons/nodo.PNG' %}" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li>
                            <a href="{% url 'Root:Home' %}">صفحه اصلی</a>
                        </li>

                        <li>
                            <a href="{% url 'Product:ProductList' %}">فروشگاه</a>
                        </li>

                        <li>
                            <a href="#">قابلیت ها</a>
                        </li>

                        <li class="label1" data-label1="جدید">
                            <a href="#">بلاگ</a>
                        </li>

                        <li>
                            <a href="#">درباره ما</a>
                        </li>

                        <li>
                            <a href="#l">ارتباط با ما</a>
                        </li>
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m h-full">
                    <div class="flex-c-m h-full p-l-18 p-r-24">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>
                    </div>

                    {% if request.user.is_authenticated %}
                        <div class="flex-c-m h-full p-l-18 p-r-25 bor5">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti"
                                 data-notify="{{ request.user.count_item_in_cart }}">
                                <a href="{% url 'Cart:Cart' %}" class="cl2 hov-cl1 trans-04">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </a>
                            </div>
                        </div>

                        <div class="flex-c-m h-full p-lr-19">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-sidebar">
                                <i class="zmdi zmdi-account"></i>
                            </div>
                        </div>
                    {% else %}
                        <div class="flex-c-m h-full p-lr-19">
                            <div class="icon-header-item p-lr-11">
                                <a href="{% url 'Account:LoginTakePhoneNumber' %}" class="cl2 hov-cl1 trans-04">
                                    <i class="zmdi zmdi-account"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a href="{% url 'Root:Home' %}"><img src="{% static 'images/icons/nodo.PNG' %}" alt="IMG-LOGO"></a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
            <div class="flex-c-m h-full p-l-10">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>
            </div>



            {% if request.user.is_authenticated %}
                <div class="flex-c-m h-full p-lr-10 bor5">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
                         data-notify="{{ request.user.count_item_in_cart }}">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>

                <div class="flex-c-m h-full p-lr-10 bor5">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-sidebar">
                        <i class="zmdi zmdi-account"></i>
                    </div>
                </div>
            {% else %}
                <div class="flex-c-m h-full p-lr-10 bor5">
                    <div class="icon-header-item p-lr-11">
                        <a href="{% url 'Account:LoginTakePhoneNumber' %}" class="cl2 hov-cl1 trans-04"><i
                                class="zmdi zmdi-account"></i></a>
                    </div>
                </div>
            {% endif %}

        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r-15">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="main-menu-m">
            <li>
                <a href="{% url 'Root:Home' %}">صفحه اصلی</a>
            </li>

            <li>
                <a href="{% url 'Product:ProductList' %}">فروشگاه</a>
            </li>

            <li>
                <a href="#">قابلیت ها</a>
            </li>

            <li>
                <a href="#" class="label1 rs1" data-label1="جدید">بلاگ</a>
            </li>

            <li>
                <a href="#">درباره ما</a>
            </li>

            <li>
                <a href="#">ارتباط با ما</a>
            </li>
        </ul>
    </div>

    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
            <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <img src="{% static 'images/icons/icon-close2.png' %}" alt="CLOSE">
            </button>

            <form class="wrap-search-header flex-w p-l-15">
                <button class="flex-c-m trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
                <input class="plh3" type="text" name="search" placeholder="جستجو...">
            </form>
        </div>
    </div>
</header>


<aside class="wrap-sidebar js-sidebar">
    <div class="s-full js-hide-sidebar"></div>

    <div class="sidebar flex-col-l p-t-22 p-b-25">
        <div class="flex-r w-full p-b-30 p-r-27">
            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
            <ul class="sidebar-link w-full">
                <li class="p-b-13">
                    <a href="{% url 'Root:Home' %}" class="stext-102 cl2 hov-cl1 trans-04">
                        صفحه اصلی
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                        <del>لیست علاقه مندی ها</del>
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                        <del>تنظیمات حساب کاربری</del>
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="{% url 'Cart:OldCartList' %}" class="stext-102 cl2 hov-cl1 trans-04">
                        تاریخچه سفارشات
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                        <del>پرسش و پاسخ ها</del>
                    </a>
                </li>

                <li class="p-b-13">
                    <a href="{% url 'Account:Logout' %}" class="stext-102 cl2 hov-cl1 trans-04">
                        خروج از حساب کاربری
                    </a>
                </li>

                {% if request.user.ToShopAccount %}
                    <li class="p-b-13">
                        <a href="{% url 'ShopAdmin:Dashboard' %}" class="stext-102 cl2 hov-cl1 trans-04">
                            ادمین فروشندگان
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</aside>